.logo-invertexto{
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
ion-button{
  margin-top: 2rem;
  --background: rgba(43, 39, 39, 0.87);
  color: rgb(247, 202, 54);
  font-size: 1.2rem;
  font-weight: bold;
}
ion-icon{
  margin-left: 1rem;
  font-size: 1.6rem;
}